{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

    <section class="inner-content-article">
        {% if messages %}
            <div class="inner-content-products col-9 col-md-8 alert alert-danger">
                <div class="messages">
                    {% for message in messages %}
                        <strong>{{ message }}</strong>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </section>
    <h1 class="text-center">Your adventure starts here!</h1>
    
    <section class="inner-content">
        <article class="row">
            
            <div class="col-xl-10">       
                <p class="intro">Welcome to the website for the trail runner. Whether you're looking for events to participate in, a training partner, practical advice on an injury, runner stories or products: you're at the right place! Learn more about this amazing sport and the people doing it!</p>
            </div>               
                        
            <div class="col-xl-5 feature">
                <a class="nav-link" href="{% url 'all_events' %}">
                    <h2>Events</h2>
                    <img src="/media/img/events.jpg" alt="Race events" class="feature-image">
                    <p class="feature-text">Have a look at our race calender and enrol yourself for the races of your choice. We offer discounts on the registration fees!</p>
                </a>
            </div>

            <div class="col-xl-5 feature">
                <a class="nav-link" href="{% url 'all_products' %}">
                    <h2>Discounts</h2>
                    <img src="/media/img/discounts.png" alt="Discounts in our online shop" class="feature-image">
                    <p class="feature-text">Become a member and receive 15% discount on products of our partner All4running.com. You find new offers every week!</p>
                </a>
            </div>                     

            <div class="col-xl-5 feature">
                <a class="nav-link" href="{% url 'get_articles' %}">
                    <h2>Inspiration</h2>
                    <img src="/media/img/inspiration.jpg" alt="Get inspiration" class="feature-image">
                    <p class="feature-text">Stories of fellow runners, suprising routes and destination, how to prevent injuries, tips for a healthy and balanced diet. Read it all here!</p>
                </a>
            </div>

            <div class="col-xl-5 feature">
                <a class="nav-link" href="{% url 'get_posts' %}">
                    <h2>Community</h2>
                    <img src="/media/img/community.jpg" alt="our community" class="feature-image">
                    <p class="feature-text">Get in touch with other trailers, train together, have fun!</p>            
                </a>
            </div>

        </article>
    </section>    
{% endblock %}