{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}

    <section class="inner-content-article">
        <div class="row">
            <h1>Contact us!</h1>
        </div>
        <div class="row">
            <div class="col-10 offset-1  col-md-8 offset-md-2 form-position">
                <form method="post">
                    {% csrf_token %}
                    {{ form | as_bootstrap }}
                    <button type="submit" class="btn btn-info">Send</button>
                </form>


{% endblock %}