{% extends 'base.html' %} 
{% block page_title %}Password Reset Page{% endblock %} 
{% block page_heading %}Reset Password{% endblock %} 
{% load bootstrap_tags %}
{% block content %}

    <h1 class="text-center">Reset your password</h1>
    <section class="inner-content-article">       
        <div class="row">
            <div class="col-10 offset-1  col-md-8 offset-md-2 form-position">
                <form method="POST">
                    <p class="text-center">Please enter your email address:</p>    
                    {% csrf_token %} 
                    {{ form.email.errors }}
                    <p class="text-center">
                        {{ form.email }} <br>
                        <button  type="submit" class="btn reset-btn btn-info">Reset Password</button>
                    </p>
                </form>
            </div>
        </div>
    </section>    

{% endblock %}

