{% extends "base.html" %}
{% block title %}Setting New password{% endblock %}
{% block content %}

    {% if validlink %}
        <h1 class="text-center">Reset your password</h1>
            <section class="inner-content-article">
                <div class="row">
                    <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-5 offset-lg-3 col-xl-4 offset-xl-4">
                        <p class="text-center">Please enter your new password twice, so we can verify you typed it in correctly.
                        <form method="post" class="accountform">
                            <div style="display:none">
                                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                            </div>
                            <table>
                                <tr>
                                    <td >{{ form.new_password1.errors }}
                                        <label for="id_new_password1">New password:</label>
                                    </td>
                                    <td> {{ form.new_password1 }}</td>
                                </tr>
                                <tr>
                                    <td>{{ form.new_password2.errors }}
                                        <label for="id_new_password2">Confirm password:</label>
                                    </td>
                                    <td> {{ form.new_password2 }}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td><input type="submit" class="btn btn-info" value="Change my password" /></td>
                                </tr>
                            </table>
                        </form>
                        </p>
                    </div>
                </div>
            </section>    
    {% else %}
        <h1 class="text-center">Password reset unsuccessful</h1>
            <section class="inner-content-article">
                <div class="row">
                    <div class="col-10 offset-1  col-md-8 offset-md-2 form-position">
                        <p class="text-center">The password reset link was invalid, 
                        possibly because it has already been used. <br /><br />
                        Please request a new password reset.</p>
                    </div>
                </div>
            </section>
    {% endif %}
 
{% endblock %}

