{% extends 'base.html' %}
{% block content %}

    <section >
        <article class="row col-11 inner-content">
            <div class="col-md-10">
                    {% for post in posts %}
                <div class="feature"> 
                    <div class="col-md-2 col-sm-3 text-center">
                        {% if post.author.image %}
                        <img src="{{ post.author.image.url }}" alt="profile image" width="100px">
                        {% else %}
                        
                    {% endif %} 
                        <p><span class="boldtext">Author:</span> {{post.author}}</p>
                    </div>
                    <div class="col-md-10 col-sm-9">
                        <h3>{{ post.title }}</h3>
                        <div class="row">
                            <div class="col-xs-9">
                                <p>{{ post.content|truncatewords:30 }}</p>
                                <p><a href="{% url 'post_detail' post.id %}"  class="btn btn-default">Read more</a></p>
                                <p><span class="boldtext">Published on:</span> {{ post.published_date }} </p>
                                <p><span class="boldtext">Views:</span> {{post.views}}</p>
                                <p><span class="boldtext">Tag:</span> {{ post.tag }}</p>
                            </div>
                        </div>
                    </div>
                </div>    
        {% endfor %} 
            </div>
        </div>
    </article>


{% endblock %}