{% extends 'base.html' %}
{% block content %}

    <section >
        <article class="row col-11 inner-content">

        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        
        {% for post in posts %}
            <div class="col-12 blog-post">           
                <img src="/static/media/{{ post.author_image }}" alt="profile image" width="100px">
                    <p><span class="boldtext">Author:</span> <a href="{% url 'author_profile' post.author.id %}">{{post.author}}</a></p>
                    <!-- {{post.author.first_name}} {{post.first_name}} -->
                    <h2>{{ post.title }}</h2>
                        <p>{{ post.content|truncatewords:30 }}</p>
                        <p><a href="{% url 'post_detail' post.id %}"  class="btn btn-info">Read more</a></p>
                            <p>
                            <span class="boldtext">Published on:</span> {{ post.published_date }} <br>
                            <span class="boldtext">Views:</span> {{post.views}}
                            </p>
            </div>    
        {% endfor %} 
        </article>
    </section>
{% endblock %}