{% extends "base.html" %}
{% block content %}

<h1 class="text-center">Forum</h1>

    <section class="inner-content-article"> 

        

            <div class="container blog-post forum">
                <div class="row">
                    <div class="col-6 col-sm-3 col-lg-2 ">
                        {% if post.author.userprofile.image %}
                        <div class="author-thumbnail" width="40px" style="background-image: url('{{ MEDIA_URL }}{{ post.author.userprofile.image }}')"></div> 
                        {% else %}    
                        <div class="profile-thumbnail"><img src="/media/img/runner-male.png" alt="profile image" width="40px" class="userprofile-details-pic"></div>
                        {% endif %}
                    </div>
                    <div class="col-6 author">
                        {% if user.is_authenticated %}
                        <span class="boldtext">Author:</span> <a href="{% url 'author_profile' post.author.id %}">{{post.author}}</a><br>
                        {% else %}
                        <span class="boldtext">Author:</span> {{post.author}}<br>
                        {% endif %} 
                        <span class="boldtext">Views:</span> {{post.views}}<br>    
                    </div>
                </div><br><br><br>
            </div>
          
            <div class="container blog-post">  
                <div class="blog-article">
                    <p>Published on:</span> {{ post.published_date }}</p>
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.content|linebreaks }}</p>
                        {% if post.image %}
                        <img class="feature-image" src="{{ post.image.url }}">
                        <br>
                        {% endif %} 
                        {% if user == post.author or user.is_superuser %}
                        <a href="{% url 'edit_post' post.id %}" class="btn btn-info post-details-btn">Edit Post</a>
                        <a href="{% url 'delete_post' post.id %}" class="btn btn-info post-details-btn">Delete Post</a>
                        {% else %}
                        {% endif %}
                        <a href="{% url 'get_posts' %}" class="btn btn-info post-details-btn">Back to Blog</a>
                </div>
            </div>
    </section>
                    
                
{% endblock %}