/* ------------------------------------------------------------------------------------------- Body - Layout */
html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #17252A;
    background-color: #f5f5f5;;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 20px;
    position: relative;
}

.button
.menu-item {
    font-size: 18px;
    color: #f5f5f5;
}

.inner-content {
    margin-left: 5%;
    margin-right: 5%;    
}

@media (min-width: 1200px) {
.inner-content {
    margin-left: 17%;
        
    } 
}

.inner-content-article {
    margin-left: 10%;
    margin-right: 10%;
}

.alert {
    text-align: center;
}
.alert-center {
    display:block;
    margin: auto;
    margin-top: 10px;
}

.login-message {
    margin: 0
}

/* ------------------------------------------------------------------------------------------- Footer */
#footer {
    margin-top: auto;
    background-color:#f5f5f5;
}

#footer-line{
    background-color: #3AAFA9;
    height: 3px;
}

.footer-text{
    font-size: 18px;
}

.fab {
    font-size: 25px;
    margin-right: 8px;
    margin-left: 8px;
}

.link-green:hover, .fab:hover, .menu-item:hover {
    color: #17252A;
    transition: 0.5s ease-in-out;
}

/* ------------------------------------------------------------------------------------------- Font General */
h1 {
    color: #2B7A78; 
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

h2 {
    color: #2B7A78; 
}

h3 {
    color: #2B7A78; 
}

@media (min-width: 768px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.2em;
    }

    h3 {
        font-size: 1.8em;
    }

    h4 {
    font-size: 1.4em;  
    }    
}    

a {
  color: #2B7A78;   
}

.register-message {
    color: #3AAFA9;
}

ul {
    padding-inline-start: 0px;
}

li {
    display: inline;
}

.button {
    color: #2B7A78 !important;  
    font-weight: 600;
    font-size: 0.86rem;
    background-color: #DEF2F1;
    border: none;
    border-radius: 8px;
}

button:hover {
    color: #3AAFA9;
}


/* ------------------------------------------------------------------------------------------- Index */
.intro{
    margin-left: 10px;
    padding-top: 10px;
}

.feature {
    background-color: #DEF2F1;
    padding: 20px;
    margin: 10px;
}

.feature-image {
    position: relative;
    width: 100%;
    
}

.feature-text {
    padding-top: 10px;
    color: #17252A;
}


/* ------------------------------------------------------------------------------------------- Events */

#month, #distance, #region {
  width: 145px;   
}

.search-box {
    margin-left: 15px;
}

.events-list{
    margin-top: 15px;
    margin-left: 15px;
    border-style: solid;
    border-color: #DEF2F1;
    border-width: 2px;
}

.read-more{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.more-info {              
    display: none;
}

.pointer {
    cursor: pointer;
}

.event-description {
    margin-top: 15px;
    margin-bottom: 18px;
}    
.event-pic {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 240px;
    height: 160px;
    margin-left: 10px;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
   .event-pic {
        margin-top: 25px;
        margin-bottom: 25px;
   }
}

.month-events {              
    display: none;
    margin: 5px;
    border-style: solid;
    border-color: #DEF2F1;
    border-width: 2px;
}

/* ----------------------------------------------------------------------- For SJ Functionality */

#calendar {
    display: none;
}

.months {
    border-style: solid;
    background: #DEF2F1;
    border-color: #DEF2F1; 
    margin: 5px;
} 

/* ------------------------------------------------------------------------------------------- Events & Discounts */

.product-price, .event-distance, {
    margin-top: 18px;
}

.search-btn {
    margin-top: 10px;
    margin-left: 10px;
}

.search-reset {
    margin-top: 10px;
    margin-left: 50px;
}

/* ------------------------------------------------------------------------------------------- Discounts, Cart, Checkout */

.inner-content-products{
    margin-left: 12%;
    margin-right: 5%;     
}

@media (min-width: 768px) {
.inner-content-products {
    margin-left: 14%;       
    } 
}

@media (min-width: 1200px) {
.inner-content-products {
    margin-left: 17%;       
    } 
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.normal-price {
  text-decoration: line-through;
  color: red
}

.discount-price {
    color: #2B7A78;
}

.product-description {
    margin-bottom: 18px;
}

.add-product{
    margin-top: 20px;
    margin-right: 85px;  /* this influences the size input field */
}

.cart-total {
    text-align: center;
}

.form {
    text-align: center;
    display: block;
}

.checkout-btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.inner-content-checkout {
    margin-left: 5%;
    margin-right: 5%;    
}

/* ------------------------------------------------------------------------------------------- Inspiration */

.inspiration{
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 210px;
    height: 170px;
    margin: 0 auto;
}

@media (min-width: 576px) {
   .inspiration {
        width: 400px;
        height: 310px;
   }
}

@media (min-width: 768px) {
   .inspiration {
        width: 550px;
        height: 400px;
   }
}

@media (min-width: 1200px) {
   .inspiration {
        width: 370px;
        height: 310px;
   }
}

.article-subheading{
    padding-top: 15px;
}

.advertisement{
    background-color: #DEF2F1;
    margin-left: 2px;
    margin-right: 10px;
    padding: 15px;
}

.advertisement-image{
    background-size: contain;
    /* background-position: center center; */
    background-repeat: no-repeat;
    width: 210px;
    height: 130px;
    margin: 15px;
    position: relative;
}

/* ------------------------------------------------------------------------------------------- Community, Profile */
.userprofile-details {
    margin-top: 15px;
}

.userprofile-details-pic{
    display: block;
    width: 50%;
}

.userprofile-details-pic-big{
    display: block;
    margin-top: 20px;
    margin-left: auto; 
    margin-right: auto;
    width: 100%;
}

.profiles {
    border-style: solid;
    border-color: #DEF2F1;
    border-width: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.profile-thumbnail, .author-thumbnail {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 120px;
    height: 100px;
    margin-top: 20px;
    /* margin: 0 auto; */
    padding-top: 5px;
}

.profile-thumbnail-name {
    padding-left: 20px; 
    padding-bottom: 20px;
    margin-top: 10px;
}

.post-details-btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.author {
    margin-top: 25px;
}

.about-me {
    margin-top: 25px;
}

.blog-post{
    border-style: solid;
    border-color: #DEF2F1;
    border-width: 2px;
}

.forum{
    background-color: #DEF2F1; 
}

.blog-article {
    margin-top: 30px;
}

.form-position {
    margin-top:20px;
} 

.reset-btn {
    margin-top: 15px;
}

/* ------------------------------------------------------------------------------------------- Not used */

/* .small-less-margin-left {
    margin-left: 0%
    }    

@media (min-width: 768px) {
.less-margin-left {
    margin-left: 5%;
    }
.more-margin-left {
    margin-left: 27%
    }    
}

@media (min-width: 992px) {
.more-margin-left {
    margin-left: 30%
    }    
}

@media (min-width: 1200px) {
.more-margin-left {
    margin-left: 35%
    }    
.less-margin-left {
    margin-left: 1%
    }    
} */



/* .discounts {
    margin-left: 5px;
    margin-right: 5px;
} */

/* .amend-btn {
    margin-top: 10px;
} */


/* 

.unfold {
    margin-right: 15px;
} */

