{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

<!-- js.stripe.com/v2 is a direct link to Stripe's JavaScript to set the Stripe.publishableKey. 
So the publishableKey that comes from Stripe is then available  to use elsewhere in the page. An
And the rest of our JavaScript is in the mentioned stripe.js file.
-->
{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock head_js %}

{% block content %}
    <section class="col-11 inner-content cart-total feature-text">
        <div class="row">
            <div class="container-fluid">
                <h1>Your products</h1>
                <!--This time the for loop is looping over item in cart_items because it's only to show what's currently in the cart.-->
                <div>
                    <p class="text-left"><strong>Back to your <a href="{% url 'view_cart' %}">cart</a></strong>.</p>
                    <h3 class="product-price">Total price: € {{ total }}</h3> 
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Loop over cart items -->
            {% for item in cart_items %}
                <div class="col-11 col-md-5 col-lg-3 col-xl-2 discounts feature-text">  
                    <h4 class="text-center">{{ item.product.product_name }}</h4> 
                        <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>                        
                                <p><strong><em>Your ordering <span class="discount-price"> {{item.quantity}} </span> items</em></strong>
                                <p class="product-price"><strong>Price per item: <span class="discount-price"> € {{ item.product.price }}</strong></span></p>
                </div>
            {% endfor %}
        </div>

        <hr>

        {% if messages %}
        <div class="alert alert-info">
            <div class="messages">
                {% for message in messages %}
                <strong>{{ message }}</strong>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </section>
    <section class="col-11 inner-content feature-text">
    <!--These are the payment form, and the form which takes the address information.-->
        <div class="form">
        <form role="form" method="post" id="payment-form" action="{% url 'checkout' %}" class="text-center">
            <legend>Payment Details</legend>
            <div id="credit-card-errors" style="display: none;">
                <div id="alert-message block-message error" id="stripe-error-message"></div>
            </div>
        <div class="row">    
            <div class="form-group col-md-6">
                {{ order_form | as_bootstrap }}
            </div>
            <div class="form-group col-md-6">
                {{ payment_form | as_bootstrap }}
            {% csrf_token %}
            <div class="form-group col-md-12">
                <input class=" btn btn-info" id="submit_payment_btn" name="commit" type="submit" value="Submit Payment">
            </div>
        </div>
        </form>
        </div>
    </section>
{% endblock %}
