{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

    <h1 class="text-center">User Profiles</h1>

        {% if messages %}
            <div class="col-8 offset-2 alert alert-danger">
                <div class="messages">
                    {% for message in messages %}
                    <strong>{{ message }}</strong>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

    <section class="inner-content-article">
        <article class="row article-content"> 
            

            <div class="row advertisement col-12"> 
                <strong>You can search the user profiles on first and last name & location:</strong> 
 
    
                <div class="row col-12 search-box">
                    <div class="col-xl-3 col-lg-6">
                        <form action="{% url 'search_user_first_name' %}" method="get">
                            <input type="text" size="15" placeholder=" First Name" name="q1">
                            <button type="search" class="btn btn-info post-details-btn search-btn">Search</button> 
                        </form>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <form action="{% url 'search_user_last_name' %}" method="get">
                            <input type="text" size="15" placeholder=" Last Name" name="q2">
                            <button type="search" class="btn btn-info post-details-btn search-btn">Search</button> 
                        </form>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <form action="{% url 'search_user_location' %}" method="get">
                            <input type="text" size="15" placeholder=" Location" name="q3">
                            <button type="search" class="btn btn-info post-details-btn search-btn">Search</button>                  
                        </form>
                    </div>
                    <div class="col-xl-3 offset-xl-0 col-lg-1 offset-lg-4">
                        <p class="text-center"><a href="{% url 'all_users' %}" class="btn btn-info search-reset">Reset</a></p>
                    </div>

                </div>                          
            </div>
        </article>

        <br>
        
        {% for user in users %}
        <div class="container blog-post forum">
            <div class="row">
                <div class="col-6 col-sm-3 col-lg-2 ">
                {% if user.image %}
                    <div class="profile-thumbnail" style="background-image: url('{{ MEDIA_URL }}{{ user.image }}')" max-height: 100%;></div>
                {% else %}    
                <div class="profile-thumbnail"><img src="/media/img/runner-male.png" alt="profile image" width="40px" class="userprofile-details-pic">
                </div>
                {% endif %}
                </div>
                <div class="col-6 profile-thumbnail-name">        
                        <h5><a href="{% url 'user_profile_page' user.id %}">{{user.user}} </a></h5>
                    </a>
                    {{user.first_name}} {{user.last_name}}
                    <br>{{ user.gender }}, {{ user.age }}
                    <br>{{ user.location }}
                </div>
                <div>
                <a href="{% url 'contact_user' user.id %}" class="btn btn-info post-details-btn">Contact User!</a> 
                </div>
            </div>
        </div>    
        <br>
            {% empty %}
            <!--If there are no books to show-->
            <div class="col-12 text-center">
                <br><br>
                <h3>
                    No profiles found. <br><br>
                    Please search again!
                </h3>
            </div>      
        {% endfor %}
        
    </section>    
     
        

{% endblock %}                