{% extends "base.html" %}
{% load bootstrap_tags %}


{% block content %}

    <div class="col-11 inner-content">
        <h1 class="text-center">Profiles</h1>

            <div class="col-11 col-md-5 col-lg-3 col-xl-2 discounts feature-text">    
        {% for user in users %}
            <div class="row">
                <div class="col-1"> 
                    <div class="profile-thumbnail" style="background-image: url('{{ MEDIA_URL }}{{ user.userprofile.image }}')"></div>
                </div>
                <div class="offset-1 profile-thumbnail-name">
                    <a href="{% url 'user_profile_page' user.userprofile.id %}">
                        <h3>{{ user.userprofile.user }}</h3>
                    </a>
                    {{ user.userprofile.gender }} - {{ user.userprofile.age }}
                    <br>{{ user.userprofile.location }}
                </div>
            </div>
            <hr>
        {% endfor %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-10 col-md-4 userprofile-details feature-text">

{% endblock %}                