{% extends "base.html" %}
{% load bootstrap_tags %}


{% block content %}
    <div class="col-11 inner-content">
        <h1 class="text-center">Profiles</h1>
            <div class="col-12  discounts feature-text">    
        {% for user in users %}
            <div class="row">
                <div class="col-2 offset-1 more-margin-left small-less-margin-left"> 
                {% if user.userprofile.image %}
                    <div class="profile-thumbnail" style="background-image: url('{{ MEDIA_URL }}{{ user.userprofile.image }}')"></div>
                {% else %}    
                <div class="profile-thumbnail"><img src="/media/img/runner-male.png" alt="profile image" width="40px" class="userprofile-details-pic"></div>
                {% endif %}
                </div>
                <div class="col-3 offset-4 profile-thumbnail-name less-margin-left small-more-less-margin-left">
                        <h3><a href="{% url 'user_profile_page' user.id %}">{{ user.userprofile.user }}</a></h3>
                    </a>
                    {{ user.userprofile.gender }} - {{ user.userprofile.age }}
                    <br>{{ user.userprofile.location }}
                </div>
            </div>
            <hr>
        {% endfor %}

        <div class="container-fluid">
            <div class="row">
                <div class="col-10 col-md-4 userprofile-details feature-text">

{% endblock %}                