{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
  
    <h1 class="text-center">Send a message to:</h1>
    <section class="inner-content-article">

        <div class="row">
            <div class="col-10 offset-1  col-md-8 offset-md-2 form-position">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %} 
                    {{ contact_profile_form | as_bootstrap }}
                    <button type="submit" name="new_profile_post" value="new_profile_post" class="btn btn-info">Send message</button>
                </form> 
            </div>
        </div>
    </section>
{% endblock %}