{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}

<div class="container feature-text">
    <div class="row">
        <h1 class="inner-content">Add a new Profile Post</h1>
    </div>
    <div class="row">
        <div class="col-10 offset-1">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %} 
                    {{ profile_post_form | as_bootstrap }}
                    <button type="submit" name="new_profile_post" value="new_profile_post" class="btn btn-info">Save</button>
                </form> 
            </div>
        </article>
    </section>
{% endblock %}