{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}


    <h1 class="text-center">Delete post <em>{{ profilepost.title }}</em>?</h1>
    <section class="inner-content-article">
        <div class="row">
            <div class="col-10 offset-1  col-md-8 offset-md-2 form-position">
                <form method="POST">
                    {% csrf_token %}
                    <p class="text-center">Are you sure you want to delete this information?</p>
                    <p class="text-center"><input type="submit" class="btn btn-info post-details-btn" value="Yes"/> <a href="{% url 'profile' %}" class="btn btn-info post-details-btn">Cancel</a></p>
                </form>
            </div>    
        </div>
    </section>         


{% endblock %}