{% extends "base.html" %}
{% load bootstrap_tags %}


{% block content %}

    <div class="col-11 inner-content">
        <h1 class="text-center">{{ profile }}'s Profile Page</h1>

        <div class="container-fluid">
            <div class="row">
                <div class="col-10 col-md-4 userprofile-details feature-text">
                
                    <p>First name: {{ profile.userprofile.first_name }}</p>
                    <p>Last name: {{ profile.userprofile.last_name }}</p>
                    <p>Email: {{ profile.email }}</p>
                    <p>Location:{{ profile.userprofile.location }}</p>
                    <p>Gender: {{ profile.userprofile.gender}}</p>
                    <p>Age: {{ profile.userprofile.age}}</p>
                </div>    
                <div class="col-12 col-md-5">
                    {% if profile.userprofile.image %}
                    <img src="{{ profile.userprofile.image.url }}" alt="profile image" width="250px" class="userprofile-details-pic">
                    {% else %}
                    <img src="/media/img/logo.jpg">
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-10 col-md-4 userprofile-details feature-text">
                    <p>New post: {{ profilepost.profilepost.title }}</p>
                    </div>
                </div>    

            </div>
            <div class="row">

                <div class="col-10 userprofile-details feature-text">



                {% if user.is_authenticated or user.is_superuser %}
                 <a href="{% url 'profile_post' %}" class="btn btn-info post-details-btn">New Post</a> <!-- profile.id -->
                {% else %}
                {% endif %}

                                <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %} 
                        {{ profile_post_form.as_p }} 
                        <!--<input type="text" name="new">-->           
                        <button type="submit" name="new_profile_post" value="new_profile_post" class="btn btn-info">Save</button>
                    </form>
                </div>    
            </div>        
        </div>
    </div>
    s    

{% endblock %}