<!-- {% extends "base.html" %}
{% load bootstrap_tags %}

{% block content %}

    <div class="col-11 inner-content">
        <h1 class="text-center">{{ profile }} Adjust Profile</h1>
        <div class="container-fluid">
First name: {{ profile.userprofile.first_name }}
            <div class="row">
                <div class="col-10 userprofile-details feature-text">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %} 
                        {{ profile_post_form | as_bootstrap }} 
                        <!--<input type="text" name="new">         
                        <button type="submit" name="new_profile_post" value="new_profile_post" class="btn btn-info">Save</button>
                    </form>
                </div>    
            </div>   

        </div>        
    </div>

{% endblock %}
--> 