{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}


{% block content %}
    <h1 class="text-center">Race calender</h1>
    <section class="inner-content-article"> 
    <p>Participate in races at competitive prices! Here you can find and enrol in race events, searching by the name of the race, month, distance or region. </p>
        <article class="row article-content">

            <div class="row advertisement col-12">         
                <form action="{% url 'search_race_name' %}" method="get">
                    <p><strong>Search by race name: <input type="text" name="q1"></strong></p>
                    <button type="submit" class="btn btn-info post-details-btn search-btn">Search</button>
                </form>
            </div><br>   

            <div class="row advertisement col-12"> 
                <strong>Or search by month, distance or region:</strong>
                <div class="row col-12 search-box">
                    <div class="col-xl-3 col-lg-6">
                        <form action="{% url 'search_race_month' %}" method="get">
                            <select id="month" name="q2">
                                <option value=" "> Select a month</option> 
                                <option value="september"> September</option>
                                <option value="october"> October</option> 
                            </select> 
                            <button type="submit" class="btn btn-info post-details-btn search-btn">Search</button><br><br>
                        </form>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <form action="{% url 'search_race_distance' %}" method="get">              
                            <select id="distance" name="q3">
                                <option value=" "> Select distance</option>  
                                <option value="10-15">10 - 15 km</option>
                                <option value="16-20">16 - 20 km</option> 
                                <option value="21-29">21 - 29 km</option> 
                                <option value="30+">Over 30 km</option> 
                                <option value="42">marathon</option>                              
                            </select> 
                            <button type="search" class="btn btn-info post-details-btn search-btn">Search</button><br><br>      
                        </form>
                    </div>
                    <div class="col-xl-3 col-lg-6">
                        <form action="{% url 'search_race_region' %}" method="get">              
                            <select id="region" name="q4">
                                <option value=" "> Select region</option>   
                                <option value="zeeland">Zeeland</option>
                                <option value="schouwen-duiveland">Schouwen-Duiveland</option> 
                                <option value="walcheren">Walcheren</option> 
                            </select> 
                            <button type="submit" class="btn btn-info post-details-btn search-btn">Search</button><br><br>  
                        </form>
                    </div>
                    <div class="col-xl-3 offset-xl-0 col-lg-1 offset-lg-4">
                    <p class="text-center"><a href="{% url 'all_events' %}" class="btn btn-info search-reset">Reset</a></p>
                    </div>
                </div>    
            </div>
            
                {% for event in events.all|dictsort:"date" %}
                <div class="row col-11 events-list">                       
                    <strong class="read-more"><span class="pointer link-black"> <i class="fas fa-angle-down"></i> {{ event.day_of_month }} {{ event.month}} | {{ event.name }} | {{ event.distance }} | {{ event.region }}</span></strong>
                    <div class="container more-info">                                              
                        <div class="row">
                            <div class="col-sm">
                                <p class="event-distance"><strong>Distance:</strong> {{ event.distance }}<br>
                                    <strong>Date:</strong> {{ event.date }}<br>
                                    <strong>Normal price:</strong> {{ event.normal_price }}<br>
                                    <strong>Our price:</strong> {{ event.price }}<br>
                                    <strong>Offer valid until:</strong> {{ event.valid_until }}<br>
                                </p>
                                <a href="{% url 'all_products' %}" class="btn btn-info post-details-btn">Register here!</a> 
                                <p class="event-description">{{ event.description }}</p><br>
                            </div>
                            <div class="col-sm event-pic" style="background-image: url('{{ MEDIA_URL }}{{ event.image }}')">
                            </div>
                        </div>
                    </div>
                </div>

                {% empty %}
                <!--If there are no books to show-->
                <div class="col-12 text-center">
                    <br><br>
                    <h3>
                        No events found yet. <br><br>
                        Please search (again)!
                    </h3>
                </div>      
                {% endfor %}
  
        </article>
    </section>
{% endblock %} 