{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

<!-- https://stackoverflow.com/questions/42660488/double-loop-in-django-template -->

{% block content %}

    <section class="col-11 inner-content">
        <h1>Race Calender</h1>

        {% if messages %}
            <div class="alert alert-info">
                <div class="messages">
                    {% for message in messages %}
                        <strong>{{ message }}</strong>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        
        <div class="container-fluid">
            {% for month in months %}
                <div class="row col-11 months feature-text">
                    <h2>{{ month.name }}</h2>
                </div>

                    {% for event in month.events.all %}
                    <div class="row col-11 discounts feature-text">
                        <h4 class="read-more">{{ event.day_of_month }} | {{ event.name }}</h4> 
                        <div class="container more-info">                                              
                            <div class="row">
                                <div class="col-sm">
                                    <p class="event-distance"><strong>Distance:</strong> {{ event.distance }}<br>
                                    <strong>Date:</strong> {{ event.date }}<br>
                                    <strong>Normal price:</strong> {{ event.normal_price }}<br>
                                    <strong>Our price:</strong> {{ event.price }}<br>
                                    <strong>Offer valid until:</strong> {{ event.valid_until }}</em><br>
                                    </p>
                                    <a href="{% url 'all_products' %}" class="btn btn-info post-details-btn">Register here!</a> 
                                    <p class="event-description">{{ event.description }}</p><br>
                                </div>
                                <div class="col-sm event-pic" style="background-image: url('{{ MEDIA_URL }}{{ event.image }}')">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}      
            {% endfor %}        
        </div>
                
    </section>
{% endblock %}   