{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
    <h1 class="text-center">Check out this weeks offers, members only!</h1>
    
    <section class="inner-content-products">
        <div class="col-9 offset-1">
            <strong>Trailrunner.online</strong> is part of <strong>The Run Store</strong> and offers varying discounts to its members every week. Please take a look at <strong><a href="#" target="_blank" class="link-black">The Run Store</a></strong> for many more products!
        </div>    
    <!-- Showing message to user -->          
        {% if messages %}
            <div class="inner-content-products col-9 col-md-8 col-xl-6 alert alert-danger">
                <div class="messages">
                    {% for message in messages %}
                        <strong>{{ message }}</strong>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        
        <div class="row container-fluid"> 
        <!-- Loop through products to show them all -->                        
            {% for product in products %}
            <div class="col-md-5 col-xl-3 feature">
                <h4 class="text-center">{{ product.product_name }}</h4> 
                <!-- Background image fits in the size of the <div>. Different sized images won't end up looking mismatched.-->        
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
                <p class="product-price"><strong>Price:</strong> <span class="normal-price"> € {{ product.normal_price }}</span><br> 
                    <span class="discount-price"><strong>Only now: € {{ product.price }}</strong></span>
                </p>
                <p><strong>Offer valid until:</strong><br> {{product.valid_until}}</p>                 
                <form method="post" action="{% url 'add_to_cart' product.id %}">
                {% csrf_token %}
                    <div class="input-group col-7"></div>
                    <div class="input-group col-6 col-lg-6 col-xl-5">   
                        <input name="quantity" type="number" min="1" max="999" class="form-control quantity" placeholder="Quantity">
                    </div>
                    <br>
                    <div class="input-group col-6 col-lg-6 col-xl-5"> 
                        <strong>Size:</strong>
                    </div>
                    <div class="input-group col-6 col-lg-6 col-xl-5"> 
                        <!-- SKU model is used to add size to the products -->
                        <select name="sku">
                        {% for sku in product.skus.all %}
                            <option value="{{ sku.id }}">{{ sku.size }}</option>
                        {% endfor %}    
                        </select>
                    </div>
                        <p class="add-product"><button class="btn btn-info" type="submit"><i class="fas fa-shopping-cart"></i>&ensp;Add to cart</button></p>                       
                </form>

                <p class="product-description">{{ product.description|linebreaks }}</p>
                <p class=" btn btn-info product-description read-more">Read more</p>
                <span class="product-description more-info">
                    {{ product.more_info|linebreaks }} 
                </span> 
            </div>    
            {% endfor %}
        </div>
    </section>
{% endblock %}