{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
    <section class="col-11 inner-content">
        <h2>Check out this weeks discounts, for members only!</h2>
        
    {% if messages %}
        <div class="alert alert-info">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
            
            {% for product in products %}
                <div class="row col-12 col-md-6 col-lg-4"> 
                <h4 class="text-center">{{ product.product_name }}</h4>  
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
                
                <!-- By making a background image, it fits the size of the <div> that it is in so that different 
                sized images for different products won't end up looking mismatched.-->
                
                <p class="product-description">{{ product.description }}</p>
                <p>{{ product.price }}</p>
                
                {{product.valid_until}}
              
              <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Quantity">
                        <span class="input-group-btn">
                            <button class="btn btn-success" type="submit">Add</button>
                        </span>
                    </div>
                </form>

            {% endfor %}
        </div>
    </section>  
{% endblock %}