                       <h1 >{{ product.product_name }}</h1>
                       <h2 >{{ product.price }}</h2>

                       <form method="post" action="{% url 'add_to_cart' product.id %}">
                        <select name="size" id="size-select" required oninvalid="this.setCustomValidity('Please select size')" oninput="setCustomValidity('')">
                               <option value="" selected disabled hidden>Please select</option>
                               {% for size in sizes %}
                                   <option value="{{ size.size }}" >
                                       {{ size.size }}
                                   </option>
                               {% endfor %}
                           </select>
                        {{ cart_form }}
                        {% csrf_token %}
                        <p class="add-product"><button class="btn btn-info" type="submit">Add</button></p>  
