{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
    <section class="col-11 inner-content">
        <h1>Check out this weeks offers, for members only!</h1>


        {% if messages %}
            <div class="alert alert-info">
                <div class="messages">
                    {% for message in messages %}
                        <strong>{{ message }}</strong>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        
        <div class="container-fluid">
            <div class="row">

                {% for product in products %}
                {{ product.product_type }}
                <div class="col-11 col-md-5 col-lg-3 discounts feature-text">    
                    <h4 class="text-center">{{ product.product_name }}</h4> 
                    <!-- By making a background image, it fits the size of the <div> that it is in so that different sized images for different products won't end up looking mismatched.-->        
                    <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
                    <p class="product-price"><strong>Price:</strong> <span class="normal-price"> € {{ product.normal_price }}</span><br> 
                        <span class="discount-price"><strong>Only now: € {{ product.price }}</strong></span></p>
                    <p><strong>Offer valid until:</strong><br> {{product.valid_until}}</p>

<!--
<form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ registration_form | as_bootstrap }}
                        {{ profile_form | as_bootstrap }}
                        <button type="submit" class="btn btn-info">Register</button>
-->


                    <form method="post" action="{% url 'add_to_cart' product.id %}">
                        {% csrf_token %}
                        <div class="input-group product-description">
                        <label for="size">Choose a size:</label>
                        <select id="size">
                       {% if product.product_type == "shoes" %}        
                       <option value="36">36</option>
                       <option value="37">37</option>
                       <option value="38">38</option>
                       <option value="39">39</option>
                       <option value="40">40</option>
                       <option value="41">41</option>
                       <option value="42">42</option>
                       <option value="43">43</option>
                       <option value="44">44</option>
                       <option value="45">45</option>
                       <option value="46">46</option>
                       <option value="47">47</option>
                       {% elif product.product_type == "clothes" %}
                       <option value="xxs">XX-Small</option>
                       <option value="xs">X-Small</option>
                       <option value="s">Small</option>
                       <option value="m">Medium</option>
                       <option value="l">Large</option>
                       <option value="xl">X-Large</option>
                       <option value="xxl">XX-Large</option>
                       {% else %}
                       <option value="na" selected></option> 
                       {% endif %}   
                        </select>
                        <div>
                         <input name="quantity" type="number" min="1" max="999" class="form-control quantity" placeholder="Quantity">
                        <p class="add-product"><button class="btn btn-info" type="submit">Add</button></p></div>
                        </div>
                    </form>
                    <p class="product-description">{{ product.description_introduction }}</p>

                    <p class=" btn btn-info product-description read-more">Read more</p>
                    <span class="product-description more-info">
                    
                    </span>
                </div>      
                {% endfor %}


            </div>
        </div>
    </section>
<!--
                    <script>
                    $(document).ready(function(){
                        $(".read-more").click(function(){
                            $(this).next(".more-info").toggle('slow');
                            // $(this).removeClass(".more-info");
                        });
                    });
                </script>    
                -->
{% endblock %}