{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trail Running</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,500,500i,700&display=swap" rel="stylesheet">
        <link rel="stylesheet"  href="{% static 'css/custom.css' %}" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>   
        <script src="https://kit.fontawesome.com/100df6bf4a.js" crossorigin="anonymous"></script>
        
        {% block head_js %}     <!--JavaScript in checkout.html. Will only be injected in base.html, when clicking on Checkout--> 
        {% endblock head_js %}
</head>
<body>
    <div id="page-container" class="container-fluid">
        
        <header>
                <nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #3AAFA9;">
                    <button class="navbar-toggler border-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}"><img src="/media/img/logo.jpg"></a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                        <li class="nav-item active test">
                            <a class="nav-link" href="{% url 'all_events' %}"><span class="menu-item">Events</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'all_products' %}"><span class="menu-item">Discounts</span></a> <!-- use namespace: discounts:-->
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'get_articles' %}"><span class="menu-item">Inspiration</span></a>
                        </li>
                        <li class="nav-item active dropdown">
                            <a class="nav-link dropdown-toggle" href="{% url 'get_posts' %}" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="menu-item">Community</span></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                            <a class="dropdown-item" href="{% url 'get_posts' %}">Forum</a>
                            <a class="dropdown-item" href="{% url 'new_post' %}">Add post</a>
                            
                            </div>
                        </li>

                        {% if user.is_authenticated %}
                        <li class="nav-item active dropdown">
                            <a class="nav-link dropdown-toggle" href="{% url 'get_posts' %}" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="menu-item">Profiles</span></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            
                            <a class="dropdown-item" href="{% url 'all_users' %}">User Profiles</a>
                            <a class="dropdown-item" href="{% url 'profile' %}">Your Profile</a>
                            
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'logout' %}"><span class="menu-item">Logout</span></a>
                        </li>
                        {% else %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'registration' %}"><span class="menu-item">Register</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'login' %}"><span class="menu-item">Login</span></a>
                        </li>
                        {% endif %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'contact' %}"><span class="menu-item">Contact</span></a>
                        </li>
                        </ul>
                        
                        <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
                            <input type="text" name="query"/>&nbsp;
                            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
                        </form>      
                    </div>
                
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'view_cart' %}">
                                <span class="menu-item">
                                    <i class="fas fa-shopping-cart"></i> Cart 
                                    {% if product_count > 0 %}
                                    <label class="badge badge-warning">{{ product_count }}</label>
                                    {% endif %}
                                </span>
                                </a>
                            </li>
                        </ul>
                </nav>
            
                    <img src="/media/img/header-image.jpg" style="width:100%;height:100%;">                    
        </header>
    
{% if messages %}

<!--
<div class="row inner-content">
<div class="col-sm-6, offset-sm-5">

    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
</div>-->
{% endif %}
            
        <article class="row inner-content">
            <div class="alert alert-info alert-center">  
                                <p class="login-message"><strong><em>
                                {% if user.is_authenticated %}
                                Welcome {{ user }}!
                                {% else %}
                                <a href="{% url 'login' %}" class="login-message">Please log in for a better experience!</a>
                                {% endif %}
                                </strong></em></p>
            </div>
        </article>
                
            <!--specific content of subpages entries-->
            {% block content %}
            {% endblock %}
            <!--specific content of subpages entries-->

        <footer id="footer">
                footer!
        </footer>
            
    </div>
<script src="{% static 'js/script.js' %}" type="text/javascript"></script>   
</body>
</html>